<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated addressbook -->
      <package
            uri="http://www.example.org/addressbook"
            class="eclipse.emf.addressbook.model.addressbook.AddressbookPackage"
            genModel="model/addressbook.genmodel"/>
   </extension>

</plugin>
